<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.android.systemui" />
    </queries>

    <application
        android:name=".LiquidUiApp"
        android:allowBackup="false"
        android:label="LiquidUI"
        android:supportsRtl="true">
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="LiquidUI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
